{% block scripts %}
    <script>
        var ds = "{{ DataSets }}";
        var index = ds.indexOf("&#39;");
        while(index>-1){
            ds = ds.replace("/&quot;/g", "\"").replace("&#39;", "\"");
            index = ds.indexOf("&#39;");
            if (index == -1){
                index = ds.indexOf("/&quot;/g");
            }
        }
    </script>
    <script type="text/javascript" src="../static/js/data_sets.js"></script>
{% endblock scripts %}
    <h1 class="page-header" id="task_info_title">Data Sets Analysis</h1>
<div class="panel panel-primary">
    <div class="panel-heading">The analysis of the dataset provided</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="chart">
                </div>
            </div>
            <div class="col-md-6">
                <div id="chart_">
                </div>
            </div>
        </div>
</div>
</div>