{% block scripts %}
<script type="text/javascript" src="/static/js/real_time.js"></script>
<script type="text/javascript" src="/static/js/ws4redis.js"></script>
{% endblock scripts %}
{% block main_content %}
    {% csrf_token %}
        <h1 class="page-header" id="task_info_title">Real Time Results</h1>

        <div class="panel panel-primary" style="padding: 50px;" id="diagrams_container">
            <div class="panel-body">
                <div class="row">
                    <div class="col col-lg-12 caption">
                          <h2>Tweets Time Series</h2>
                        <div class="c3" id="chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12 caption">
                        <div id="retweets"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12 caption">
                        <div id="favorited"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12 caption">
                        <div id="donut"></div>
                    </div>
                </div>
                <div class="row">

                    <div class="col col-lg-12 caption">
                        <h2>Latest Tweets</h2>
                        <h2 id="sent"></h2>
                        <h2 id="rcvd"></h2>
                        <h2 id="cpu"></h2>
                        <p>

<!--                        <h1>Notifications demo</h1>
                        <input type="text" id="message">
                        <button class="btn btn-danger" onclick="sendMessage()">POST MESSAGE</button>-->
                        <!-- This is our list of notifications -->
                        <ul id="notifications">
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row placeholders">
            </div>
        </div>

<!--        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" checked> Option 1 (preselected)
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2"> Option 2
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option3"> Option 3
          </label>
        </div>-->
<script type="text/javascript">
    $(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: 'ws://localhost:8000/ws/subscribe-broadcast&publish-broadcast&echo',
        receive_message: receiveMessage,
        heartbeat_msg:  "{{ WS4REDIS_HEARTBEAT }}"
    });

    // attach this function to an event handler on your site
    function sendMessage() {
        ws4redis.send_message('A message');
    }

    // receive a message though the websocket from the server
    function receiveMessage(msg) {
        console.log('Message from Websocket: ' + msg);
    }

});</script>
{% endblock main_content %}