<script>
    var trial_results_agree = [];
    var trial_results_disagree = [];
    {% for result in Results.agree %}
        trial_results_agree.push(["{{ result.0 }}".replace("\n", " "), "{{ result.1}}", "{{ result.2}}"]);
    {% endfor %}
    {% for result in Results.disagree %}
        trial_results_disagree.push(["{{ result.0 }}".replace("\n", " "), "{{ result.1}}", "{{ result.2}}"]);
    {% endfor %}
</script>
<form>
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="sub-header">Results</h3></div>
        <div class="panel-body" id="results_body">
            <div class="row">{{ sklearn_precision_score }}
                <div class="col-md-12"><span class="fa fa-bar-chart fa-2x" id="cosine_result"></span>
                <span style="color:green;font-size: large">
                    {{ CosineResult }}
                </span></div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <span>Agree on Polarity</span>
                    <div id="chart_">
                        <div id="chart_agree">

                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col col-md-12">
                <span>Disagree on Polarity</span>
            <div id="chart_disagree">

            </div></div></div>
            <div class="row">
                <div class="col col-md-12">
            <div id="chart">

            </div></div></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well alert-success">Agree on polarity:</div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Tweet</th>
                                <th>Initial</th>
                                <th>Predicted</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row">
                        <div class="table-responsive" style="height: 500px;">
                            <table class="table">
                                <tbody style="overflow: scroll">

                                {% for result in Results.agree %}

                                    <tr class="{{ result.3 }}">
                                        <td>{{ result.0 }}</td>
                                        <td>{{ result.1 }}</td>
                                        <td>{{ result.2 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well alert-danger">Don't agree on polarity:</div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Tweet</th>
                                <th>Initial</th>
                                <th>Predicted</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row">
                        <div class="table-responsive" style="height: 500px;">
                            <table class="table">
                                <tbody style="overflow: scroll">
                                {% for result in Results.disagree %}

                                    <tr class="{{ result.3 }}">
                                        <td>{{ result.0 }}</td>
                                        <td>{{ result.1 }}</td>
                                        <td>{{ result.2 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>