{% block scripts %}
    <script type="text/javascript" src="../static/js/task_info.js"></script>
{% endblock scripts %}
{% block main_content %}

        <h1 class="page-header" id="task_info_title">ROADRUNNER<p>Large Scale Sentiment Analysis</p></h1>

        <div class="panel panel-primary" style="padding: 50px;" id="diagrams_container">
            <div class="panel-body">
                <div class="row">
                    <div class="col col-lg-12 caption">
                        <p>

                        <h3>TASK DESCRIPTION</h3>

                        </p>
                        <p>

                        <h3>APPROACH</h3>

                        </p>
                        <p>

                        <h3>EVALUATION</h3>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row placeholders">
            </div>
        </div>
{% endblock main_content %}