{% block scripts %}
    <script type="text/javascript">
        var test = "{{ cleaning_options }}";
        console.log(test);
    </script>
    <script type="text/javascript" src="../static/js/tweet_utils.js"></script>
    <link href="../static/bootstrap-toggle-master/css/bootstrap2-toggle.min.css" rel="stylesheet">
    <script src="../static/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
{% endblock scripts %}
    <h1 class="page-header" id="task_info_title">Tweet Utils Options</h1>
<div class="panel panel-primary">
    <div class="panel-heading">Cleaning Options</div>
    <div class="panel-body">
        <div class="row">
           <div class="col-md-12">
                    <div id="cleaning_options">
                    <table class="table table-hover">
                    <thead>
                    <th>Option name</th>
                    <th>Option Description</th>
                    <th>On/Off</th>
                    </thead>
                        {% for key, values in cleaning_options.items %}
                            <tr>
                            <td>
                                {{ key }}
                            </td>
                            <td>
                                Lorem Ipsum
                            </td>
                            <td>
                                    <input type="checkbox" {% if values %} checked {% endif %} id="{{ key }}" size="mini" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">

{#                                <div class="btn-group btn-toggle">#}
{#                                    <button class="btn btn-xs btn-default active">ON</button>#}
{#                                    <button class="btn btn-xs btn-success">OFF</button>#}
{#                                </div>#}
                            </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
        </div>
</div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Feature Extraction Options</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="feature_options">
                    <ul>
                        {% for feature_option in feature_options %}
                            <li>{{ feature_option }}<input type="checkbox" class="checkbox" id={{ feature_option }}></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>